<h1>Home Page</h1>

<div ng-controller="SoundPrintCtrl as dirList">
	<form ng-submit="dirList.addPerson()">
		<input type="text" placeholder="Name" ng-model="dirList.name">
		<input type="number" placeholder="Age" ng-model="dirList.age">
		<input type="submit" value="Submit">
		
	</form>
	<br><br>
	
	<input type="text" ng-model="search" placeholder="Search Names">
	<input type="button" ng-click="dirList.toogle = true" ng-show="!dirList.toogle" value="Show Names">
	<input type="button" ng-click="dirList.toogle = false" ng-show="dirList.toogle" value="Hide Names">
	
	<ul ng-if="dirList.toogle">
		<li ng-repeat="item in dirList.list | filter: search" ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'" ng-include ="'person.html'">
			
		</li>
	</ul>
</div>